<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | rquintas.net</title>
	<link rel="stylesheet/less" type="text/css" href="/css/styles.less" media="screen, projection">
	<script type="text/javascript" src="/scripts/less-1.1.3.min.js"></script>
	
	<link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection">
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24290112-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<script type="text/javascript" src="http://platform.linkedin.com/in.js">
	   api_key: a34tcundsf9a
	   authorize: true
	</script>
	
  </head>
  <body>
    <div id="container">
      <header id="header">
        <h1>Ricardo Quintas</h1>
      </header>

	<a href="index.html">Home</a>

	<div id="content">
        {{ content }}
	 </div>

    </div>
  </body>
</html>